{% extends "lfweb/base.html"%}

{% load staticfiles cms_tags menu_tags %}

 {% block bodyclass %} class="filiera" {% endblock bodyclass %}



{% block content %}
    <!--startsVIEW-->
    
    <h1>{% placeholder "titolo_1" %}</h1>
    
        {% block menu %} 
            {% show_menu 0 100 100 100 "lfweb/menu.html" %}      
        {% endblock menu %}  

    
    <div class="page_content">
    
        <article>
        <div class="tex">
        {% placeholder "testo_1" %}
        </div>
         {% placeholder "img_1" %}
        </article>
        
        <article>
        <h2>{% placeholder "sottotitolo_2" %}</h2>
        <div class="tex">
        {% placeholder "testo_2" %}
        </div>
         {% placeholder "img_2" %}
        </article>
        
    </div>
    <!--endsVIEW-->
{% endblock content %}