{% extends "lfweb/base.html"%}

{% load staticfiles cms_tags menu_tags i18n %}

 {% block bodyclass %}  {% endblock bodyclass %}



{% block content %}
    <!--startsVIEW-->
    
    <h1>Page not found</h1>
    
        {% block menu %} 
            {% show_menu 0 100 100 100 "lfweb/menu.html" %}       
        {% endblock menu %}  
    
    <div class="page_content">
    
    	<article>
        <div class="tex">
        <p>{% trans "error_page_msg" %}</p>       
   
        </div>
        </article>
    </div>
    <!--endsVIEW-->
{% endblock content %}