{% extends "lfweb/base.html"%}

{% load staticfiles cms_tags menu_tags %}


{% block mediajq %}
<link media="all" type="text/css" href="{% static 'lfweb/css/magnific-popup.css' %}"  rel="stylesheet"><!--GALLERY-->
<script src="{% static 'lfweb/js/jquery-1.10.2.min.js' %}" type="text/javascript"></script><!--GALLERY-->
{% endblock mediajq %}        


{% block bodyclass %} class="news" {% endblock bodyclass %}



{% block content %}
    <!--startsVIEW-->
    
    <h1>News </h1>
    
        {% block menu %} 
             {% show_menu 0 100 100 100 "lfweb/menu.html" %}
        {% endblock menu %}  
    
    <div class="page_content">
    
        {% for item in news %}
        <article>
            <header>
                <hgroup>
                    <h3>{{item.date}}</h3>
                    <h2>{{item.title|safe}}</h2>
                </hgroup>
            </header>
            <div class="tex">
                    {{item.text|safe}}
            </div>
            
            {% if item.img.url %}
                <img src="{{item.img.url}}" width="587" height="280" alt="img">
            {% endif %}

            {% if item.gallery %}
             <a href="#" class="open_gallery">gallery &gt;</a>
            {% endif %}

            {% if item.video_url %}
                <div class="video">
                    <div class="videoWrapper">
                        {{item.video_url|safe}}
                    </div>
                </div> 
            {% endif %}

        </article>
        {% endfor %}
        <div class="pagen">
            {% if news.has_previous %}
                <a href="?page={{ news.previous_page_number }}" class="prev "> <strong>&lt;</strong> previous</a>
            {% endif %}

            {% if not news.has_previous %}
                <a href="#" class="prev off"><strong>&lt;</strong> previous</a>
            {% endif %}    

            {% if news.has_next %}
                <a href="?page={{ news.next_page_number }}" class="next">next <strong>&gt;</strong></a>
            {% endif %} 

            {% if not news.has_next %}
                <a href="#" class="next off">next <strong>&gt;</strong></a>
            {% endif %}   

        	
        </div>
        
    </div>
    <!--endsVIEW-->
{% endblock content %}


{% block media %}
<script src="{% static 'lfweb/js/magnific-popup.js' %}" type="text/javascript"></script><!--GALLERY-->
<script src="{% static 'lfweb/js/gallery.js' %}" type="text/javascript"></script><!--GALLERY-->
{% endblock media %}