{% extends "modelli/base.html"%}

{% load staticfiles %}

 {% block bodyclass %} class="collezioni_det" {% endblock bodyclass %}



{% block content %}
    <!--startsVIEW-->
    
    <h1>Deboneair</h1>
    
        {% block menu %} 
            {% include "modelli/menu.html" %}       
        {% endblock menu %}  
    
    <div class="page_content">
    
        <article>
        <div class="tex">
          <p><strong>Debonair</strong><br />
          Nm. 3500 - 100% Cashmere (Ws)</p>
            <p><strong>Impieghi</strong><br />
            Nm. 3500 -1 filo finezza 3</p>
            <p><strong>Minimi oper colore</strong><br />
            colori stock service Kg 4 e multipli senza supplemento
            È possibile effettuare colori a campione
            vasche ottimali colori uniti: kg 3, 5, 10, 20 con supplemento</p>
            <p><strong>Quantità ottimali colori melange</strong><br />
            da kg 100 con supplemento</p>
            <p><strong>Solidità colori</strong><br />
            Rispondenti alle norme Woolmark. Colori uniti per capi rigati richiedere solidità specifica per rigatura.</p>
            <p><strong>Finissaggio</strong><br />
            Lavaggio a secco, oppure in acqua a 30° dopo aver effettuato un accurato prestiro. Centrifuga delicata ed asciugatura a temperatura non elevata. 40/50° max. Pressatura finale e ristiro manuale del capo. È necessario effettuare prove specifiche sui propi capi, poichè il risultato finale viene sensibilmente influenzato dal tipo di macchina utilizzata e dalla fittezza maglia a dottatata.</p>
          <p><strong>è disponibile su richiesta, una scheda tecnica dell’articolo con relative istruzioni.</strong></p>

          <div class="pittogram"><img src="{% static 'img/pittogrammi.gif' %}" width="236" height="31" alt="lavaggi washings" /></div><!--mi dicono che è sempre uguale, ma si potrebbe caricare cmq da BE dentro questo div (div per gestire dimensioni in responsive) -->
          
          </div>
          
          
          <img src="{% static 'img/Debonaire.jpg' %}" width="694" height="405" alt="scheda tecnica">
            
          <h2>STOCK SERVICE</h2>
            
            <div class="stock">
              <div class="col">
                    <img src="{% static 'img/DEBONAIRE A3000.jpg' %}" width="339" height="210" alt="filato1" />
                    <h2>A 3000</h2>
                    <img src="{% static 'img/DEBONAIRE A3000.jpg' %}" width="339" height="210" alt="filato1" />
                    <h2>A 3001</h2>
                    <img src="{% static 'img/DEBONAIRE A3000.jpg' %}" width="339" height="210" alt="filato1" />
                <h2>A 3002</h2>
                </div>
                
                <div class="col">
                    <img src="{% static 'img/DEBONAIRE A3000.jpg' %}" width="339" height="210" alt="filato1" />
                    <h2>A 3003</h2>
                    <img src="{% static 'img/DEBONAIRE A3000.jpg' %}" width="339" height="210" alt="filato1" />
                    <h2>A 3004</h2>
                    <img src="{% static 'img/DEBONAIRE A3000.jpg' %}" width="339" height="210" alt="filato1" />
                    <h2>A 3005</h2>
                </div>
            
            </div>
            
        
        
        
        </article>



        <div class="pagen">
        	<a href="#" class="prev off"><strong>&lt;</strong> Prev</a><!--add class "off" per quando è a fine corsa-->
        	<a href="#" class="next">Next <strong>&gt;</strong></a>
        </div>
        
    </div>
    <!--endsVIEW-->
{% endblock content %}