{% extends "lfweb/modelli/base.html"%}

{% load staticfiles cms_tags menu_tags %}

 {% block bodyclass %} class="storia" {% endblock bodyclass %}



{% block content %}
    <!--startsVIEW-->
    
    <h1>{% placeholder "titolo_1" %}</h1>
    
        {% block menu %} 
            {% include "lfweb/modelli/menu.html" %}       
        {% endblock menu %}  
    
    <div class="page_content">
        <article>
        <div class="tex">
       	 {% placeholder "testo_1" %}
        </div>
         {% placeholder "img_1" %}
        </article>
    </div>
    <!--endsVIEW-->
{% endblock content %}