<div class="menu-tot">
    <nav>
        <ul>
            <li class="macro">Macro voce</li>
            <li><a href="#">sotto voce</a></li>
            <li><a href="#">sotto voce</a></li>
            <li><a href="#">sotto voce</a></li>
        </ul>
        
        <ul>
            <li class="macro">Macro voce</li>
            <li><a href="#">sotto voce</a></li>
            <li><a href="#">sotto voce</a></li>
            <li><a href="#">sotto voce</a></li>
        </ul>
        <ul>
            <li class="macro">Macro voce</li>
            <li><a href="#">sotto voce</a></li>
            <li><a href="#">sotto voce</a></li>
            <li><a href="#">sotto voce</a></li>
        </ul>
        <ul>
            <li class="macro"><a href="#">Macro voce</a></li>
            <li><a href="#">sotto voce</a></li>
            <li><a href="#">sotto voce</a></li>
            <li><a href="#">sotto voce</a></li>
        </ul>
    </nav>
</div>