{% extends "lfweb/modelli/base.html"%}

{% load staticfiles cms_tags menu_tags %}

 {% block bodyclass %} class="red" {% endblock bodyclass %}



{% block content %}
    <!--startsVIEW-->
    
    <h1>{% placeholder "titolo_1" %}</h1>
    
        {% block menu %} 
            {% include "lfweb/modelli/menu.html" %}       
        {% endblock menu %}  

    
    <div class="page_content">
    
        <article>
        
        <h2>{% placeholder "sottotitolo_1" %}</h2>
        <div class="tex">
        {% placeholder "testo_1" %}
        </div>
        
        <h2>{% placeholder "sottotitolo_2" %}</h2>
        <div class="tex">
        {% placeholder "testo_2" %}
        </div>
        
         {% placeholder "img_1" %}
        </article>
        
        
    </div>
    <!--endsVIEW-->
{% endblock content %}